# Docker images
DOCKER_PLATFORM=linux/amd64
DOCKER_SERVER_IMAGE=dockette/memzero:server
DOCKER_DASHBOARD_IMAGE=dockette/memzero:dashboard

# Upstream mem0 version (https://github.com/mem0ai/mem0/releases)
MEM0_VERSION=2.2.1

# Docker: ports
MEM0_PORT=8888
DASHBOARD_PORT=3000
POSTGRES_PORT=8432

# Docker: mem0
MEM0_WORKERS=1
MEM0_TELEMETRY=false
MEM0_DEFAULT_LLM_MODEL=gpt-5-mini
MEM0_DEFAULT_EMBEDDER_MODEL=text-embedding-3-small

# Docker: mem0 (llm providers)
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=

# Docker: mem0 (auth)
JWT_SECRET=memzero
ADMIN_API_KEY=
AUTH_DISABLED=false

# Docker: dashboard
DASHBOARD_URL=http://localhost:3000
DASHBOARD_API_URL=http://localhost:8888
DASHBOARD_INSTANCE_NAME=Memzero

# Docker: postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=memzero
POSTGRES_COLLECTION_NAME=memories
APP_DB_NAME=mem0_app
